<div class = "page-header">
  <h2>User reigstration</h2>
</div>

<form name ="regForm" ng-submit='register.regUser(regData, regForm.$valid);' novalidate>
  <div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) ||(!regForm.name.$valid && regForm.$submitted)}">
    <label>Name:</label>
    <input type = "text" class="form-control" name = "name" placeholder="Please enter a name" ng-model='register.regData.name'
     ng-patter='/^(([a-zA-Z]{3,20})+[ ]+([a-zAiZ]{3,20})+)+$/' ng-minlength ="3" ng-maxlength="20" required>
    <p class = "help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required)|| (regForm.$submitted && regForm.name.$error.required)">This feild is required</p>
    <ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern)||
    (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)" class = "help block">
      <li>Must have a space between first and Last name</li>
      <li>Must NOT containt special characters</li>
      <li>Must NOT containt any numbers</li>
      <li>Must be between 3 to 20 characters</li>
    </ul>
  </div>
  <br>
  <div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) ||(!regForm.email.$valid && regForm.$submitted || register.emailInvalid)}">
    <label>Email:</label>
    <input type = "text" class="form-control" name = "email" placeholder="Please enter email" ng-model='register.regData.email' ng-minlength ="3" ng-maxlength="25"
    required ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-blur="register.checkEmail(regData)">
  <p class ="help block" ng-show="register.emailMsg && !register.email.$error.required && regform.email.$valid">{{register.emailMsg}}</p>
  <span class ="glyphicon glyphicon-repeat" ng-show = "register.checkingEmail">
    <p class = "help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required)|| (regForm.$submitted && regForm.email.$error.required)">This feild is required</p>
  </span>
    <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern)||
    (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)" class = "help block">
      <li>Must contain '@'</li>
      <li>Must NOT contain any special characters</li>
      <li>Must contain be between 3 to 25 characters</li>
    </ul>
  </div>
  <br>
  <div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid),
   'has-error':(!regForm.username.$valid && !regForm.username.$pristine) ||(!regForm.username.$valid && regForm.$submitted || register.usernameInvalid)}">

    <label>Username:</label>
    <input type = "text" class="form-control" name = "username" placeholder="Please enter username" ng-model='register.regData.username'
    ng-minlength ="3" ng-maxlength="25" required ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-blur="register.checkUsername(regData)">
    <p class ="help block" ng-show="register.usernameMsg  && !register.username.$error.required && regform.username.$valid">{{register.usernameMsg}}</p>
    <span class ="glyphicon glyphicon-repeat" ng-show = "register.checkingUsername">
      <p class = "help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required)|| (regForm.$submitted && regForm.username.$error.required)">This feild is required</p>
    </span>
    <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern)||
    (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)" class = "help block">
      <li>Must NOT contain any special characters and or spaces</li>
      <li>Must contain be between 3 to 25 characters</li>
    </ul>
  </div>
  <br>

  <div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) ||(!regForm.firstPassword.$valid && regForm.$submitted)}">
    <label>Password:</label>
    <input type = "text" class="form-control" name = "firstPassword" placeholder="Please enter password" ng-model='firstPassword'
    ng-minlength ="8" ng-maxlength="35" required ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/">
    <p class = "help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required)|| (regForm.$submitted && regForm.firstPassword.$error.required)">This feild is required</p>
    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern)||
    (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class = "help block has-error">
      <li>Must contain at least one upper case letter</li>
      <li>Must contain at least one lower case letter</li>
      <li>Must contain at least one number</li>
      <li>Must contain at least one special character</li>
      <li>Must contain at least 8 characters but no more than 35</li>
    </ul>
  </div>
  <br>

  <div ng-class="{'has-success':(confirmed && regForm.confirmPassword.$error.required), 'has-error':!confirmed && !regForm.confirmPassword.$error.required
  || (regForm.confirmPassword.$error.required && !regiForm.confirmPassword.$pristine) }">
    <label>Confirm Password:</label>
    <input type = "text" class="form-control" name = "confirmPassword" placeholder="Please enter Confirmation Password" ng-model='confirm' match="{{[firstPassword]}}" ng-change="register.regData.confirmPassword - confirm"
    ng-minlength ="8" ng-maxlength="35" required ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/">
    <p class = "help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required)|| (regForm.$submitted && regForm.confirmPassword.$error.required)">This feild is required</p>
    <p class = "help-block" ng-show = "!confirmed && !regiForm.confirmPassword.$pristine && regform.firstPassword.$valid">Passwords do not match</p>
  </div>
  <br>
  <button type = "submit" class ="btn btn-primary">Register</button><br>
  <!-- <span><stong>Is this form new:</strong> {{regForm.$pristine}}</span><br>
  <span><stong>Does this form have errors:</strong> {{regForm.$error}}</span><br>
  <span><stong>Wsa this form have submitted:</strong> {{regForm.$submitted}}</span><br> -->
  <!-- <span><stong>Is this form valid:</strong> {{regForm.$valid}}</span> -->

</form>

<!-- <input type="text" name="firstPassword" ng-model = "firstPassword">

<br><br>
<input type="text" name="confirmPassword" ng-model = "confirm" match = "{{[firstPassword]}}">
<p ng-show="!confirmed">Passwords do not match</p> -->

<br>
<div class= "jumbotron text-center" ng-show='register.loading'>
    <span class = "glyphicon glyphicon-repeat updinner"></span>
    <p>Loading...</p>
</div>

<!-- ////////////////////////////////// -->
<!-- TO DO: Add extra styling sheet -->
<br>
<div class = "row show-hide-message" ng-show='register.successMsg'>
  <div class = "alert alert-success">{{register.successMsg}}</div>
</div>
<br>
<div class = "row show-hide-message" ng-show='register.errorMsg'>
  <div class = "alert alert-danger">{{register.errorMsg}}</div>
</div>
