<div class = "page-header">
  <h2>MANAGEMENT</h2>
</div>


<div class="jumbotron text-center" ng-show='management.loading'>
    <span class = "glyphicon glyphicon-repeat updinner"></span>
    <p>Loading...</p>
</div>

<Button ng-click="management.showMore(number)" type "button" class = "btn btn-success">Apply Filter</Button>
<Button ng-click="management.showAll()" type "button" class = "btn btn-warning">Show All</Button>
<div class = "showmore" syle="display:inline;">
  <div class ="col-lg-4">
    <div class = "input-group">
      <span class = "input-group-addon">Results to Display</span>
      <input type = "text" class = "form-control" ng-model = "number">
    </div>
  </div>
</div>

<div class = "navbar-form">
  <div class = "form-group">
    <input type = "text" class="form-control" placeholder="Search for..." ng-model="searchKeyword">
  </div>
  <button ng-click = "management.search(searchKeyword, number)" type ="button" class = "btn btn-default">Search</Button>
  <button ng-click = "management.clear()" type ="button" class = "btn btn-default">Clear</Button>
  <a href = "/search">
    <button type ="button" class = "btn btn-default">Advanced Search</Button>
  </a>
</div>

<br>
<div ng-show = "seachFilter == undefined">
  <p><strong>Total Results:</strong>
{{(management.users| filter:searchFilter).length}}
  </p>
</div>

<div ng-show = "seachFilter == undefined">
  <p><strong>Showing:</strong>
    {{(management.users| filter:searchFilter | limitTo: management.limit).length}}
  </p>
</div>


<div class = "row show-hide-message" ng-show='management.showMoreError'>
  <div class = "alert alert-danger">{{management.showMoreError}}</div>
</div>
<br><br>
<div class=  "panel panel-primary">
  <div class = "panel-heading">
    <strong>User Mangement</strong>
  </div>
  <table class="table">
    <tr>
      <td>Name</td>
      <td>Username</td>
      <td>Email</td>
    </tr>
    <tr ng-repeat = "person in management.users| filter:searchFilter | limitTo: management.limit">
      <td>{{person.username}}</td>
      <td>{{person.name}}</td>
      <td>{{person.email}}</td>
      <td>
        <a href = "/edit/{{person._id}}">
          <button ng-show="management.editAccess"type = "button" class="btn btn-primary"> Edit</button>
        </a>
          <button ng-show="management.deleteAccess" ng-click="management.deleteUser(person.username)" type = "button" class="btn btn-danger"> Delete</button>
      </td>
    </tr>
  </table>
</div>

<!-- ////////////////////////////////// -->
<!-- TO DO: Add extra styling sheet -->
<br>
<div class = "row show-hide-message" ng-show='management.successMsg'>
  <div class = "alert alert-success">{{management.successMsg}}</div>
</div>
<br>
